@{
    ViewData["Title"] = "Home Page";
}


<div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    <h1 class="display-3 fw-bold text-primary">Welcome To TraineeHub </h1>
    <p class="lead text-secondary">People Develop Countries, We Develop People</p>
    <a href="https://iti.gov.eg/diplomaStructure/139758dc-e1ee-4d2c-ba87-08dbe615d378/intakes/ce47193b-e8a0-4452-627f-08dbe68d3d73" class="btn btn-lg btn-primary mt-3" target="_blank">
        Learn More
    </a>
</div>